<h2 id="title">Welcome to Ember</h2>



<div>
  <p>
    <button onclick={{action (mut this.isEnabled) true}}>
      activate trap
    </button>
  </p>


  <div
    class="trap {{if this.isEnabled 'is-active'}}"
    {{focus-trap isActive=this.isEnabled}}
  >
    <p>
      Here is a focus trap
      <a href="#">with</a>
      <a href="#">some</a>
      <a href="#">focusable</a>
      parts.
    </p>
    <p>
      <button onclick={{action (mut this.isEnabled) false}}>
        deactivate trap
      </button>
    </p>
  </div>
</div>







{{outlet}}
