{{#docs-demo as |demo|}}
  {{#demo.example name="demo-example2.hbs"}}
    <p>
      <button type="button" {{on "click" this.activate}} class="button">
        Activate trap
      </button>
    </p>

    {{#if this.isActive}}
      <div
        class="trap is-active"
        {{focus-trap
          focusTrapOptions=(hash
            onDeactivate=this.deactivate
          )
        }}
      >
        <p>
          Here is a focus trap
          <a href="javascript:void(0)">with</a>
          <a href="javascript:void(0)">some</a>
          <a href="javascript:void(0)">focusable</a>
          parts.
        </p>
        <p>
          <button type="button" {{on "click" this.deactivate}} class="button">
            Deactivate trap
          </button>
        </p>
      </div>
    {{/if}}
  {{/demo.example}}

  {{demo.snippet "demo-example2.hbs" label="template.hbs"}}
  {{demo.snippet "demo-example2.js" label="component.js"}}
{{/docs-demo}}
