{{#docs-demo as |demo|}}
  {{#demo.example name="docs-demo-basic.hbs"}}
    <p>
      <button type="button" {{on "click" this.activate}} class="button">
        Activate trap
      </button>
    </p>

    <div
      class="trap {{if this.isActive "is-active"}}"
      {{focus-trap
        isActive=this.isActive
        focusTrapOptions=(hash escapeDeactivates=false)
      }}
    >
      <p>
        Here is a focus trap
        <a href="javascript:void(0)">with</a>
        <a href="javascript:void(0)">some</a>
        <a href="javascript:void(0)">focusable</a>
        parts.
      </p>
      <p>
        <button type="button" {{on "click" this.deactivate}} class="button">
          Deactivate trap
        </button>
      </p>
    </div>
  {{/demo.example}}

  {{demo.snippet "docs-demo-basic.hbs" label="template.hbs"}}
  {{demo.snippet "docs-demo-basic.js" label="component.js"}}
{{/docs-demo}}
