{{#docs-demo as |demo|}}
  {{#demo.example name="demo-example4.hbs"}}
    <p>
      <button onclick={{action this.activate}} class="button">
        Activate trap
      </button>
    </p>

    <div
      class="trap {{if this.isActive "is-active"}}"
      tabindex="-1"
      id="my-container"
      {{focus-trap
        isActive=this.isActive
        focusTrapOptions=(hash
          onDeactivate=(action this.deactivate)
          initialFocus="#my-container"
          clickOutsideDeactivates=true
        )
      }}
    >
      <p>
        Here is a focus trap
        <a href="javascript:void(0)">with</a>
        <a href="javascript:void(0)">some</a>
        <a href="javascript:void(0)">focusable</a>
        parts.
      </p>
      <p>
        <button onclick={{action this.deactivate}} class="button">
          Deactivate trap
        </button>
      </p>
    </div>
  {{/demo.example}}

  {{demo.snippet "demo-example4.hbs" label="template.hbs"}}
  {{demo.snippet "demo-example4.js" label="component.js"}}
{{/docs-demo}}
